Options -Indexes

RewriteEngine on

RewriteRule ^call/(.*)$ call/index.php [QSA,L]

RewriteRule ^([a-z]{2})/$ index.php?language=$1 [QSA,L]

RewriteRule ^login$ _login.php [QSA,L]
RewriteRule ^([a-z]{2})/login$ _login.php?language=$1 [QSA,L]

RewriteRule ^register$ _register.php [QSA,L]
RewriteRule ^([a-z]{2})/register$ _register.php?language=$1 [QSA,L]

RewriteRule ^login$ _login.php [QSA,L]
RewriteRule ^([a-z]{2})/login$ _login.php?language=$1 [QSA,L]

RewriteRule ^reset-password$ _password_reset.php [QSA,L]
RewriteRule ^([a-z]{2})/reset-password$ _password_reset.php?language=$1 [QSA,L]

RewriteRule ^password-reset-link$ _password_reset_link.php [QSA,L]

RewriteRule ^home$ loggedin.php [QSA,L]
RewriteRule ^settings$ _settings.php [QSA,L]
RewriteRule ^settings/email$ _settings_mail.php [QSA,L]
RewriteRule ^settings/password$ _settings_password.php [QSA,L]

RewriteRule ^game/solo$ game/_solo.php [QSA,L]
RewriteRule ^game/friend$ game/_friend.php [QSA,L]

RewriteRule ^pregame/solo$ pregame/_solo.php [QSA,L]
RewriteRule ^pregame/friend$ pregame/_friend.php [QSA,L]

RewriteRule ^result/solo$ result/_solo.php [QSA,L]
RewriteRule ^result/friend$ result/_friend.php [QSA,L]